.add {
    border: 3px solid var(--principal);
    border-radius: 10px;
    margin: 10vh 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-desplegado {
    max-height: fit-content;
    animation: desplegarse 1.5s ease-in-out forwards;
}

.add-plegado {
    height: 45vh;
    animation: plegarse .6s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes desplegarse {
    from {
        max-height: 70px;
    }
    to {
        max-height: 1000px;
    }
}

@keyframes plegarse {
    from {
        height: calc(fit-content);
    }
    to {
        height: 70px;
    }
}

.add-header {
    width: 100%;
    margin: 2vh 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.add-header h5 {
    margin: 0 0 0 4vw;
    color: var(--dark-color);
    font-weight: 200;
    font-size: 4vh;
}

.add-header button {
    position: relative;
    color: var(--dark-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background: var(--principal);
    text-align: center;
    margin: 0 4vw 0 0;
    cursor: pointer;
    color: #fff;
}

.add-header-button-p {
    margin: 0;
    margin-top: .5vh;
    font-size: 2.2vh;
}

.minus {
    animation: rotar1 .5s ease-out;
}

.plus {
    animation: rotar2 .9s ease-out;
}

@keyframes rotar1 {
    from {
        transform: rotate(720deg);
    }
}

@keyframes rotar2 {
    from {
        transform: rotate(-270deg);
    }
}

.add-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.hidden {
    height: 0;
    animation: desaparecer .4s linear forwards;
}

.view {
    opacity: 0;
    animation: aparecer 1s forwards;
    animation-delay: .5s;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        display: none;
    }
}

@keyframes desaparecer {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.add-form label {
    margin: 2vh 0 1vh 0;
    color: var(--dark-color);
    font-weight: 300;
    font-size: 3vh;
}

.add-form input {
    margin: 0 0 2vh 0;
    background: none;
    border: none;
    border-bottom: 2px solid var(--principal);
    color: var(--dark-color);
    padding: 1vh 0;
    font-size: 2.5vh;
}

.add-form input:focus {
    outline: none;
}

.add-form input::placeholder{
    font-style: italic;
    font-size: 2.3vh;
    letter-spacing: .5px;
}

.add-from-msj-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-from-msj-button p {
    color: #ff0000;
}

.msj-hidden {
    visibility: hidden;
}

.add-form button {
    background: var(--acent);
    border: none;
    width: 13vh;
    padding: 1vh 0;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 2vh;
    font-weight: 500;
    margin: 2vh 0 2vh auto;
    cursor: pointer;
    color: #000;
}
