
.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vh 4vw;
    background: #3D3D3D;
    border-radius: 10px;
    margin: 2vh 3vw;
    color: #fff;
}

.info-container-li {
    background: #c5c5c5;
}

.info-container-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.trash {
    color: var(--acent);
    cursor: pointer;
}

.trash-li {
    color: var(--principal);
}

.info-container p {
    margin: 1vh 0;
    font-size: 3vh;
    text-align: left;
}

.info-container-li p {
    color: var(--light-color);
}
