body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-background: #000;
  --ligth-background: #fff;
  --dark-color: #fff;
  --light-color: #000;
  --principal: #ae8231;
  --secondary: #dace77;
  --acent: #ffc53d;
}